<form [formGroup]="form.form" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-12 col-lg-4">
            <app-input
                [inputType]="InputTypes.Text"
                inputId="name"
                [formGroup]="form.form"
                [controlName]="'name'"
                [label]="'Name'"
            ></app-input>
            <div *ngIf="form.getServerError('name')" class="alert alert-danger">
                {{ form.getServerError('name') }}
            </div>
        </div>
    </div><div formArrayName="conversions">
        <div *ngFor="let conversion of form.conversions.controls; let i = index" [formGroupName]="i" class="mb-2 border p-2 rounded">
            <div class="form-row">
                <div class="col">
                    <input class="form-control" formControlName="from" placeholder="From" />
                </div>
                <div class="col">
                    <input class="form-control" formControlName="to" placeholder="To" />
                </div>
                <div class="col">
                    <input class="form-control" formControlName="factor" placeholder="Factor" />
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger" (click)="form.removeConversion(i)">Remove</button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mt-2" (click)="form.addConversion()">Add Conversion</button>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-success" type="submit"><i class="bi bi-check mr-2"></i>Save</button>
        </div>
    </div>
</form>
