
<div class="row">
    <div class="col-12 pb-2 h-100 d-flex flex-column justify-content-end">
        <hr/>
        <small class="d-block"><span class="font-weight-bold">Created By: </span>{{createdBy}}</small>
        <small class="d-block"><span class="font-weight-bold">Created Date: </span>{{createdDate}}</small>
        <small class="d-block"><span class="font-weight-bold">Modified By: </span>{{modifiedBy}}</small>
        <small class="d-block"><span class="font-weight-bold">Modified Date: </span>{{modifiedDate}}</small>
        
    </div>
</div>
