:root {
    --bg-color-main: #efefef;
    --font-color-main: #002c53;
    --loader-color-main: #002c53;
    --loader-color-secondary: #c5001b;
    --font-color-secondary: #c5001b;
    --font-color-highlight: #034d8f;
    --page-active-color: #034d8f;
    --navbar-item-bg-color: #f3f3f3;
}
* {
    font-family: 'Poppins';
}
body, .bg-color-main {
    background-color: var(--bg-color-main);
}
.table-item:hover {
    color: var(--font-color-highlight);
    background-color: var(--navbar-item-bg-color);
}
.color-highlight:hover {
    color: var(--font-color-highlight)
}
.cursor-pointer {
    cursor: pointer;
}
.color-main {
    color: var(--font-color-main);
}
.color-secondary {
    color: var(--font-color-secondary);
}
.vh-100 {
    height: 100vh;
}

ul, li, a, a:hover {
    list-style-type: none;
    text-decoration: none !important;
}

.fs-sm {
    font-size: 0.8rem;
}
.listing-btn {
    font-size: 0.8rem !important;
}
.page-item.active .page-link {
    background-color: var(--page-active-color) !important;
    border-color: var(--page-active-color) !important;
}
.d-block.modal.fade.show {
    z-index: 99999;
}