<div *ngIf="unitOfMeasurement">
    <div class="container" *ngIf="unitOfMeasurement.name">
        <div class="row">
            <div class="col-12 pt-3">
                <h4>{{ unitOfMeasurement.name }} Activity Logs</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let key of keys">
                            <td><strong>{{ key }}</strong></td>
                            <td>
                                <span [innerHTML]="displayChange(key)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
